/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  /*	border: 0;*/
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
body {
  line-height: 1; }

/* line 34, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
ol, ul {
  list-style: none; }

/* line 37, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
blockquote, q {
  quotes: none; }

/* line 40, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 18, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  color: #474747; }

/* line 26, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
header {
  position: absolute;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center; }

/* line 36, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
nav {
  width: 70%;
  height: 120px; }

/* line 41, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#navbarNavDropdown,
div.dropdown-menu.show {
  background-color: #f8f9fa !important;
  padding: 0 5% 5px 5%;
  border: none; }

/* line 48, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.dropdown-toggle::after {
  color: #ffcc00; }

/* line 52, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#bar2 {
  width: 100%;
  padding-left: 15%;
  position: fixed;
  top: 0; }

/* line 59, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#logo {
  height: auto;
  width: 200px; }

/* line 66, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper1 {
  width: 100%;
  height: content;
  padding: 0px; }

/* line 72, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  cursor: pointer; }

/* line 78, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#welcome {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 25%;
  bottom: 25%;
  z-index: 2;
  width: auto;
  max-width: 500px;
  height: auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-align: left; }

/* line 94, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#welcometitle {
  font-size: 40px;
  font-weight: 100; }

/* line 99, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.item-title-div {
  margin-bottom: 10px;
  display: inline-block; }

/* line 104, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.item-desc-div {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  display: block; }

/* line 114, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper2 {
  height: 500px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center; }

/* line 122, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videoWraper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -30px;
  z-index: 350;
  width: 70%;
  height: auto;
  align-items: center; }

/* line 133, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videosTitle {
  color: black;
  width: 15%;
  transform: rotate(-90deg);
  text-align: center; }

/* line 140, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
iframe {
  width: 50%; }

/* line 144, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videoDescription {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  color: white;
  background: #474747; }

/* line 157, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
  overflow: hidden;
  background-image: url(images/GETINTOUCH.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

/* line 173, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.workquestion {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 36px 0;
  line-height: 1.1;
  font-weight: 100;
  font-style: thin;
  font-family: "Roboto", sans-serif; }

/* line 185, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#getintouch {
  width: 130px;
  height: 50px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.8;
  padding: 13px 12px;
  vertical-align: middle;
  letter-spacing: 0.1em; }

/* line 202, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
footer {
  background-color: #272727;
  color: white;
  min-height: 87.5vh; }

/* line 208, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#footermenu {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 10%; }

/* line 214, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.footercolumn {
  display: flex;
  flex-flow: column nowrap;
  margin: 4%; }

/* line 220, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
h5 {
  padding: 25px; }

/* line 224, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.socialmedia,
.empresa,
.legal {
  font-size: 14px;
  padding: 25px;
  text-decoration: none;
  color: darkgrey; }

/* line 233, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.socialmedia:hover,
.empresa:hover,
.legal:hover {
  text-decoration: none;
  color: white; }

/* line 240, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
hr {
  border-color: #474747;
  margin: 0 10%; }

/* line 245, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.footerbottom {
  padding: 45px 0;
  align-items: center;
  margin: 0 10%; }

/* line 251, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#copyright {
  color: #474747;
  margin-right: 50px; }

/* line 256, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#ogreyContainer {
  margin-left: 50px;
  display: flex; }

/* line 261, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#ogrey {
  width: 75px;
  height: auto; }

/* line 268, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper5,
#wraper6,
#wraper7,
#wraper8,
#wraper9,
#wraper10,
#wraper11,
#wraper12 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 100px 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

/* line 289, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper5 {
  background-image: url(images/empresa.jpg); }

/* line 293, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper6 {
  background-image: url(images/sonido.jpg); }

/* line 297, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper7 {
  background-image: url(images/escenario.jpg); }

/* line 301, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper8 {
  background-image: url(images/estructuras.jpg); }

/* line 305, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper9 {
  background-image: url(images/iluminacion.JPG); }

/* line 309, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper10 {
  background-image: url(images/video.JPG); }

/* line 313, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper11 {
  background-image: url(images/pantallas.jpg); }

/* line 317, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper12 {
  background-image: url(images/mapping.jpg); }

/* line 321, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaTitle {
  color: white;
  text-align: center;
  font-size: 10vw;
  margin-top: 120px;
  line-height: 1.1;
  font-weight: 100;
  font-style: thin;
  font-family: "Roboto", sans-serif; }

/* line 334, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper4 {
  margin: 150px auto 0 auto;
  padding: 50px 10%;
  min-height: 75vh; }

/* line 340, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.explanation {
  display: flex;
  flex-flow: row nowrap; }

/* line 346, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.category {
  width: 70%;
  margin: 2px; }

/* line 352, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.categoryText {
  font-family: "Roboto", sans-serif; }

/* line 356, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.dibuix {
  height: 600px;
  width: auto; }

/* line 362, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaContent {
  display: flex;
  flex-flow: column nowrap;
  color: black;
  padding: 0 15% 10% 15%;
  text-align: justify; }

/* line 370, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.identityTitle {
  align-self: center;
  font-size: 28px;
  font-weight: bold; }

/*.firstp::first-letter {
  font-weight: bolder;
  color: $dark-grey;
  font-size: 30px;
  padding: 10px;
}*/
/* line 386, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaServicios {
  list-style: square; }

/* line 393, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
ol {
  list-style: decimal;
  margin: 40px; }

/* line 398, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.legalList {
  padding: 15px 0; }

/* line 402, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.legaltext {
  margin-top: 15px; }

/* line 408, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact {
  min-height: inherit;
  height: 100%; }

/* line 413, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.columna {
  min-width: 275px;
  max-width: 700px;
  padding: 0 2%; }

/* line 419, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact h3 {
  position: relative;
  margin: 20px 0;
  padding-bottom: 10px;
  font-weight: bold; }

/* line 426, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  bottom: 0; }

/* line 437, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-row {
  margin-bottom: 25px;
  margin-left: -30px;
  margin-right: -30px; }

/* line 443, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-row > .col,
.form-row > [class*=col-] {
  padding: 0 30px; }

/* line 448, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
legend {
  color: darkgrey;
  font-size: 13px;
  margin-bottom: 25px; }

/* line 454, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
label {
  font-weight: 400;
  text-align: right;
  line-height: 1.78571429;
  color: #474747;
  font-size: 14px; }

/* line 462, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.star {
  color: #ffcc00; }

/* line 466, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-control {
  border: 2px solid #eeeeee;
  border-radius: 0; }

/* line 471, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.col-sm-5.control-btn {
  text-align: right; }

/* line 475, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#sendMail {
  width: 130px;
  height: 50px;
  color: #ffcc00;
  background: transparent;
  border: 2px solid #ffcc00;
  border-radius: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.8;
  padding: 13px 12px;
  vertical-align: middle;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center; }

/* line 492, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#sendMail:hover {
  background: #ffcc00;
  color: white;
  cursor: pointer; }

/* line 498, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
colInfo {
  display: flex;
  flex-flow: column nowrap; }

/* line 503, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.box-contact {
  width: 100%;
  margin-bottom: 50px; }

/* line 508, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.box-bg {
  width: 100%;
  padding: 10px 25px 50px 25px;
  background: #474747;
  color: white; }

/* line 515, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact-miscinfo p {
  font-size: 14px;
  margin: 15px 0; }

/* line 520, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactInfo {
  display: flex;
  flex-flow: column nowrap; }

/* line 525, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.eachContact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 5px 50px 20px 0;
  width: 100%;
  font-size: 14px; }

/* line 536, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactIcons {
  width: 20px;
  height: auto;
  margin-right: 10px; }

/* line 542, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none; }

/* line 551, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect,
.contactdirect:hover {
  vertical-align: inherit;
  font-family: "Roboto", sans-serif; }

/* line 557, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ffcc00; }

/* line 564, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactMedia {
  text-transform: uppercase;
  background-color: #eeeeee;
  margin: 0 6.25px 6.25px 0;
  display: inline-block; }

/* line 571, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactMedia:hover {
  background-color: #ffcc00; }

/* line 575, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mediaLink {
  font-family: "Roboto", sans-serif;
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  padding: 12.5px 12.5px; }

/* line 583, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mediaLink:hover {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold; }

/* line 591, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
* {
  box-sizing: border-box; }

/* Position the image container (needed to position the left and right arrows) */
/* line 597, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.cont {
  top: 125px;
  align-self: center;
  position: relative;
  width: 52%;
  margin-bottom: 150px; }

/* Hide the images by default */
/* line 607, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mySlides {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
/* line 613, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
/* line 619, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
/* line 637, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
/* line 644, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
/* line 651, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Container for image text */
/* line 661, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.capishi-cont {
  text-align: center;
  background-color: #222;
  padding: 16px 2px;
  color: white; }

/* line 668, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.rowito:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
/* line 676, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.barra {
  float: left;
  width: 16.66%; }

/* Add a transparency effect for thumnbail images */
/* line 683, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.demo {
  opacity: 0.6; }

/* line 687, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.active,
.demo:hover {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
