/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  /*	border: 0;*/
  font-size: 100%;
  /*	font: inherit;*/
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
body {
  line-height: 1; }

/* line 34, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
ol, ul {
  list-style: none; }

/* line 37, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
blockquote, q {
  quotes: none; }

/* line 40, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, Escritorio/PROJECTES/MAXIMSOUND/styles/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 19, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  color: #474747; }

/* line 27, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
header {
  position: absolute;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center; }

/* line 37, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
nav {
  width: 70%;
  height: 120px; }

/* line 42, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#navbarNavDropdown,
div.dropdown-menu.show {
  background-color: #f8f9fa !important;
  padding: 0 5% 5px 5%;
  border: none; }

/* line 49, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.dropdown-toggle::after {
  color: #ffcc00; }

/* line 53, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#bar2 {
  width: 100%;
  padding-left: 15%;
  position: fixed;
  top: 0; }

/* line 60, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#logo {
  height: auto;
  width: 200px; }

/* line 67, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper1 {
  width: 100%;
  height: content;
  padding: 0px; }

/* line 73, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-indicators {
  cursor: pointer; }

/* line 79, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#welcome {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 25%;
  bottom: 25%;
  z-index: 2;
  width: auto;
  max-width: 500px;
  height: auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  text-align: left;
  line-height: 1.4; }

/* line 96, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#welcometitle {
  font-size: 40px;
  font-weight: 100; }

/* line 101, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.item-title-div {
  margin-bottom: 10px;
  display: inline-block; }

/* line 106, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.item-desc-div {
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  display: block; }

/* line 117, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper2 {
  height: 500px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center; }

/* line 125, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videoWraper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: -30px;
  z-index: 350;
  width: 70%;
  height: auto;
  align-items: center; }

/* line 136, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videosTitle {
  color: black;
  width: 15%;
  transform: rotate(-90deg);
  text-align: center; }

/* line 143, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
iframe {
  width: 50%; }

/* line 147, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#videoDescription {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 40%;
  height: 315px;
  padding: 50px;
  color: white;
  background: #272727;
  font-weight: 100;
  line-height: 1.4; }

/* line 161, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.videoContext1 {
  font-weight: 400;
  font-size: 25px; }

/* line 166, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.videoContext2 {
  font-size: 18px; }

/* line 172, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 100px 0;
  overflow: hidden;
  background-image: url(images/GETINTOUCH.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

/* line 188, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.workquestion {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 36px;
  padding: 36px 0;
  line-height: 1.1;
  font-weight: 100;
  font-style: thin;
  font-family: "Roboto", sans-serif; }

/* line 200, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#getintouch,
#masvid {
  width: 130px;
  height: 50px;
  color: white;
  background: transparent;
  border: 2px solid white;
  border-radius: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.8;
  padding: 13px 12px;
  vertical-align: middle;
  letter-spacing: 0.1em; }

/* line 216, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#masvid:hover {
  background: white;
  color: black; }

/* line 223, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
footer {
  background-color: #272727;
  color: white;
  min-height: 87.5vh; }

/* line 229, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#footermenu {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 10%; }

/* line 235, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.footercolumn {
  display: flex;
  flex-flow: column nowrap;
  margin: 4%; }

/* line 241, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
h5 {
  padding: 25px; }

/* line 245, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.socialmedia,
.empresa,
.legal {
  font-size: 14px;
  padding: 25px;
  text-decoration: none;
  color: darkgrey; }

/* line 254, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.socialmedia:hover,
.empresa:hover,
.legal:hover {
  text-decoration: none;
  color: white; }

/* line 261, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
hr {
  border-color: #474747;
  margin: 0 10%; }

/* line 266, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.footerbottom {
  padding: 45px 0;
  align-items: center;
  margin: 0 10%; }

/* line 272, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#copyright {
  color: #474747;
  margin-right: 50px; }

/* line 277, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#ogreyContainer {
  margin-left: 50px;
  display: flex; }

/* line 282, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#ogrey {
  width: 75px;
  height: auto; }

/* line 289, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper5,
#wraper6,
#wraper7,
#wraper8,
#wraper9,
#wraper10,
#wraper11,
#wraper12 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 100px 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

/* line 310, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper5 {
  background-image: url(images/empresa.jpg); }

/* line 314, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper6 {
  background-image: url(images/sonido.jpg); }

/* line 318, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper7 {
  background-image: url(images/escenario.jpg); }

/* line 322, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper8 {
  background-image: url(images/estructuras.jpg); }

/* line 326, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper9 {
  background-image: url(images/iluminacion.JPG); }

/* line 330, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper10 {
  background-image: url(images/video.JPG); }

/* line 334, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper11 {
  background-image: url(images/pantallas.jpg); }

/* line 338, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper12 {
  background-image: url(images/mapping.jpg); }

/* line 342, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaTitle {
  color: white;
  text-align: center;
  font-size: 10vw;
  margin-top: 120px;
  line-height: 1.1;
  font-weight: 100;
  font-style: thin;
  font-family: "Roboto", sans-serif; }

/* line 355, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#wraper4 {
  margin: 150px auto 0 auto;
  padding: 50px 10%;
  min-height: 75vh; }

/* line 361, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.explanation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }

/* line 367, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.category {
  width: 40%;
  margin: 2px; }

/* line 372, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.categoryText {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  text-align: justify; }

/* line 378, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.dibuix {
  height: 600px;
  width: auto; }

/* line 385, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.identityTitle {
  text-align: center;
  font-size: 28px;
  font-weight: bold; }

/* line 391, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: black;
  text-align: justify; }

/* line 399, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.columnEmpresa {
  margin: 50px;
  width: 300px;
  height: 300px; }

/* line 405, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.col1 {
  text-align: right; }

/* line 409, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.col2 {
  text-align: left; }

/*.firstp::first-letter {
  font-weight: bolder;
  color: $dark-grey;
  font-size: 30px;
  padding: 10px;
}*/
/* line 420, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#VisionMision {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

/* line 426, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.VM {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #eeeeee;
  width: 500px;
  height: 500px;
  margin: 50px;
  padding: 50px;
  text-align: justify; }

/* line 438, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.Oo {
  width: 60px;
  height: 60px;
  margin: 25px; }

/* line 445, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.vismis {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 50px;
  font-size: 20px; }

/* line 452, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.ion {
  line-height: 1.4; }

/* line 456, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#raya {
  width: 99vw;
  position: absolute;
  left: 0;
  margin-bottom: 50px;
  margin-top: 100px;
  border-top: 1px solid #eeeeee;
  height: 5px; }

/* line 466, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#Servicios {
  margin-top: 150px; }

/* line 470, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#empresaServicios {
  width: 50%;
  height: 400px;
  list-style: none;
  border-right: 1px solid #eeeeee;
  line-height: 2; }

/* line 478, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.empserv {
  margin-left: 20px; }

/* line 481, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.empserv:first-of-type {
  margin-top: 20px; }

/* line 488, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
ol {
  list-style: decimal;
  margin: 40px; }

/* line 493, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.legalList {
  padding: 15px 0; }

/* line 497, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.legaltext {
  margin-top: 15px; }

/* line 503, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact {
  min-height: inherit;
  height: 100%; }

/* line 508, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.columna {
  min-width: 275px;
  max-width: 700px;
  padding: 0 2%; }

/* line 514, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact h3 {
  position: relative;
  margin: 20px 0;
  padding-bottom: 10px;
  font-weight: bold; }

/* line 521, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: #ffcc00;
  position: absolute;
  bottom: 0; }

/* line 532, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-row {
  margin-bottom: 25px;
  margin-left: -30px;
  margin-right: -30px; }

/* line 538, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-row > .col,
.form-row > [class*=col-] {
  padding: 0 30px; }

/* line 543, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
legend {
  color: darkgrey;
  font-size: 13px;
  margin-bottom: 25px; }

/* line 549, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
label {
  font-weight: 400;
  text-align: right;
  line-height: 1.78571429;
  color: #474747;
  font-size: 14px; }

/* line 557, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.star {
  color: #ffcc00; }

/* line 561, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.form-control {
  border: 2px solid #eeeeee;
  border-radius: 0; }

/* line 566, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.col-sm-5.control-btn {
  text-align: right; }

/* line 570, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#sendMail {
  width: 130px;
  height: 50px;
  color: #ffcc00;
  background: transparent;
  border: 2px solid #ffcc00;
  border-radius: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 1.8;
  padding: 13px 12px;
  vertical-align: middle;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center; }

/* line 587, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
#sendMail:hover {
  background: #ffcc00;
  color: white;
  cursor: pointer; }

/* line 593, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
colInfo {
  display: flex;
  flex-flow: column nowrap; }

/* line 598, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.box-contact {
  width: 100%;
  margin-bottom: 50px; }

/* line 603, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.box-bg {
  width: 100%;
  padding: 10px 25px 50px 25px;
  background: #474747;
  color: white; }

/* line 610, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contact-miscinfo p {
  font-size: 14px;
  margin: 15px 0; }

/* line 615, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactInfo {
  display: flex;
  flex-flow: column nowrap; }

/* line 620, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.eachContact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin: 5px 50px 20px 0;
  width: 100%;
  font-size: 14px; }

/* line 631, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactIcons {
  width: 20px;
  height: auto;
  margin-right: 10px; }

/* line 637, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none; }

/* line 646, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect,
.contactdirect:hover {
  vertical-align: inherit;
  font-family: "Roboto", sans-serif; }

/* line 652, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactdirect:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #ffcc00; }

/* line 659, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactMedia {
  text-transform: uppercase;
  background-color: #eeeeee;
  margin: 0 6.25px 6.25px 0;
  display: inline-block; }

/* line 666, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.contactMedia:hover {
  background-color: #ffcc00; }

/* line 670, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mediaLink {
  font-family: "Roboto", sans-serif;
  color: #474747;
  font-size: 12px;
  font-weight: 400;
  padding: 12.5px 12.5px; }

/* line 678, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mediaLink:hover {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold; }

/* line 686, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
* {
  box-sizing: border-box; }

/* Position the image container (needed to position the left and right arrows) */
/* line 692, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.cont {
  top: 125px;
  align-self: center;
  position: relative;
  width: 52%;
  margin-bottom: 150px; }

/* Hide the images by default */
/* line 702, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.mySlides {
  display: none; }

/* Add a pointer when hovering over the thumbnail images */
/* line 708, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.cursor {
  cursor: pointer; }

/* Next & previous buttons */
/* line 714, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
/* line 732, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
/* line 739, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
/* line 746, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* Container for image text */
/* line 756, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.capishi-cont {
  text-align: center;
  background-color: #222;
  padding: 16px 2px;
  color: white; }

/* line 763, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.rowito:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
/* line 771, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.barra {
  float: left;
  width: 16.66%; }

/* Add a transparency effect for thumnbail images */
/* line 778, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.demo {
  opacity: 0.6; }

/* line 782, Escritorio/PROJECTES/MAXIMSOUND/styles/style.scss */
.active,
.demo:hover {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
